body{
    background-color: #f5f6f7;
}
.top-border {
    background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
    height: 5px;
}
.them-header .navbar{
    box-shadow: 0 0 8px rgba(0,0,0,0.03);
    background-color: #fff;
}

.them-header .navbar .navbar-toggler-icon {
    background: url(../images/menu.png) #fff;

}
.them-header .navbar .navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}
.them-header .navbar-brand{
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    color: #000;
}
.them-header .nav-link{
    text-transform: uppercase;
    font-weight: 600;
    color: #000;
}
.theme-search .form-control {
    border: none;
    background: none;
    min-width: 260px;
    padding: 0 10px;
}
.theme-search {
    background-color: #f5f6f7;
    border-radius: 50px;
    padding: 4px;
}
.theme-search .btn-theme {
    background-color: #f93c58;
    color: #fff;
    border-radius: 100%;
    height: 30px;
    min-width: 30px;
    font-size: 13px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.theme-breadcrumb {
    background: #fff;
    padding: 7px 10px;
    box-shadow: 0 0 8px rgb(0 0 0 / 3%);
    margin: 20px 0;
}

.theme-breadcrumb .breadcrumb-item+.breadcrumb-item::before{
    content: "\f105";
    font: normal normal normal 14px/1 FontAwesome;
    float: none;
}
.theme-breadcrumb .breadcrumb-item a{
    text-decoration: none;
    color: #f93c58;
}
.breadcrumb-item.active {
    color: #000;
}
.page-title{
    font-size: 20px;
}
.steps {
    position: relative;
    margin: 20px 0;
}
.steps:before {
    content: "";
    height: 1px;
    background: #c6c7c8;
    left: 15%;
    right: 15%;
    top: 25px;
    position: absolute;
    z-index: -9;
}
.step-title {
    width: 50px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background: #f93c58;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}
.step-text {
    background: #fff;
    box-shadow: 0 0 8px rgb(0 0 0 / 3%);
    border-radius: 100px;
    padding: 5px 15px;
    margin-top: 20px;
    font-size: 15px;
    position: relative;
}
.step-text:after {
    position: absolute;
    content: "";
    width: 1px;
    height: 30px;
    background: #c6c7c8;
    top: -21px;
    left: 50%;
    z-index: -9;
}

/* === Left sidebar css === */
.post-box {
    background-color: #ffffff;
    box-shadow: 0 0 8px rgb(0 0 0 / 3%);
    padding: 10px 15px;
    display: table;
    margin-bottom: 15px;
}
.post-box .post-img {
    float: left;
    width: 30%;
}
.post-box .post-img img{
    width: 100%;
}
.post-disc {
    float: left;
    width: 70%;
    box-sizing: border-box;
    padding-left: 20px;
}
.post-title {
    font-size: 22px;
    line-height: 24px;
    font-weight: 600;
}
.post-short-disc {
    font-size: 14px;
    line-height: 20px;
}
.post-time {
    font-weight: 500;
    color: #f93c57;
}
.post-url {
    text-decoration: none;
    color: #f93c57;
}
.post-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.post-btn {
    background-color: #f93c57;
    border: none;
    color: #fff;
    border-radius: 19px;
    padding: 3px 15px;
    transition: 0.5s;
}
.post-btn:hover{
    transition: 0.5s;
    background-color: #f12b47
}

/* === Right sidebar css === */
.list-group-title {
    padding: 0.5rem 1rem;
    position: relative;
    font-weight: 600;
    background: #fff;
    border-bottom: 1px solid #c6c7c8;
    text-transform: uppercase;
}
.list-group-title:after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f93c58;
}
.contact-list .list-group-item{
    border: none;
    padding: 0;
}
.contact-list .list-group-item a {
    border: none;
    padding: 0.5rem 1rem;
    display: block;
    text-decoration: none;
    border-bottom: 1px solid #c6c7c8;
    color: #000;
    transition: 0.5s;
    text-transform: capitalize;
}
.contact-list .list-group-item:last-child a{
    border-bottom:none;
}
.contact-list .list-group-item a:hover, .contact-list .list-group-item a.active {
    transition: 0.5s;
    background: #f93c58;
    color: #fff;
}
.contact-list {
    box-shadow: 0 0 8px rgb(0 0 0 / 3%);
}
.trouble{
    margin: 25px 0;
}
.trouble .list-group-item a{
    position: relative;
    padding-left: 30px;
}
.trouble .list-group-item a::before {
    position: absolute;
    left: 13px;
    content: "\f105";
    font: normal normal normal 16px/1 FontAwesome;
    top: 12px;
}

.faq{
    box-shadow: 0 0 8px rgb(0 0 0 / 3%);
    background: #ffffff;
}

.faq .accordion-button{
    background-color: #f93c57;
    color: #ffffff;
    font-weight: 600;
}

.faq .accordion-button:focus {
    border-color: #f93c57;
    box-shadow: none;
}

.faq .accordion-button::after {
    background-image: url(../images/remove.png);
    width: 16px;
    height: 16px;
    background-size: contain;
  }
.faq .accordion-button.collapsed::after {
    background-image: url(../images/plus.png);
    width: 16px;
    height: 16px;
    background-size: contain;
  }

/* === Footer css start === */
#scroll {
    position: fixed;
    right: 10px;
    bottom: 35px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: #f93c57;
    border: #ffffff 2px solid;
    text-align: center;
    font-size: 23px;
    line-height: 32px;
    color: #ffffff;
    display: none;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.footer {
    background: #1b1b1b;
    color: #fff;
    padding-top: 25px;
}
.widget-title {
    font-size: 24px;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 30px;
}
.widget-title::before {
    content: '';
    width: 90%;
    height: 1px;
    background: #d1d0d0;
    position: absolute;
    bottom: -10px;
}
.widget-title::after {
    content: '';
    width: 70px;
    height: 1px;
    background-color: #f93c57;
    position: absolute;
    left: 0;
    bottom: -10px;
}
.search-list {
    list-style: none;
    padding: 0;
}
.search-list li:first-child a {
    padding-top: 0px;
}
.search-list li a {
    text-decoration: none;
    color: #fff;
    border-bottom: 1px solid #d1d0d0;
    padding: 10px 0 10px 20px;
    display: block;
    position: relative;
    transition: 0.5s;
}
.search-list li a:hover, .search-list li a:focus {
    transition: 0.5s;
    color: #f93c57;
}
.search-list li:first-child a::before {
    transform: translateY(-77%);
}
.search-list li a::before {
    position: absolute;
    left: 0;
    content: "\f105";
    font: normal normal normal 20px/1 FontAwesome;
    transform: translateY(-50%);
    top: 50%;
}
.footer .widget-btn {
    display: inline-flex;
    text-decoration: none;
    width: 35px;
    height: 35px;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 5px;
    margin-right: 5px;
    color: #fff;
    margin-bottom: 5px;
    transition: 0.5s;
}
.footer .widget-btn:hover{
    transition: 0.5s;
    border-color: #f93c57;
    background-color: #f93c57;
}
.copyright {
    background-color: #f93c57;
    padding: 15px;
    margin-top: 25px;
}
.copyright a{
    color: #ffffff;
}

@media(max-width:1199px){
    .post-box .post-img {
        width: 100%;
    }
    .post-disc {
        float: left;
        width: 100%;
        box-sizing: border-box;
        padding-left: 0;
    }
}

@media(max-width:991px){
    .step {
        margin-bottom: 15px;
    }
    .steps:before {
        left: 0;
        right: 0;
    }
}
@media(max-width:767px){
.widget-title::before {
    width: 100%;
}
}
@media(max-width:568px){
.post-footer {
    align-items: flex-start;
    flex-direction: column;
}
.post-btn {
    margin-left: auto;
}
}
